
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/img/sfondo.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container{
    width: 450px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    box-shadow: 3px 3px 3px black
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}
.navBar input{
    border: 1px solid black;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
}
.navBar input:hover{
    background-color: lightgray;
}
.boxButton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.boxButton button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.boxButton button:hover{
    box-shadow: 1px 1px 3px black;
    background-color: lightgray;
}

.containerCity{
    height: fit-content;
    width: 800px;
    background-color: white;
    opacity: 1.0;
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    
}

.containerTot{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.containerCity img{
    height: fit-content;
    width: 200px;
    border-radius: 8px;
}

.contcity{
    height: fit-content;
}

.contimg{
    height: fit-content;
}

.contText{
    
    height: fit-content;
}



