
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/img/sfondo.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.container{
    max-width: 500px !important;
}

.box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    border-radius: 8px;
    border: black;
    box-shadow: 3px 3px 3px black;
}

#search{
    color: black;
}
#search:hover{
   background-color: #1E88E5;
   text-decoration: black;
}
#canc:hover{
    background-color: #1E88E5;
    text-decoration: black;
    border-radius: 0px 8px 8px 0px;
 }

#canc{
    color: black;
}

.containerCity{

    height: fit-content;
    width: 700px;
    background-color: white;
    opacity: 1.0;
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: space-between;
    
}

.containerTot{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.containerCity img{
    height: fit-content;
    width: 250px;
    border-radius: 8px;
}

.contcity{
    height: fit-content;
}

.contimg{
    height: fit-content;
}

.contText{
    height: fit-content;
}

.contbar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
.containerPRo{
    display: flex;
    flex-direction: column;
}

.summary{
    padding: 3px;
    display: flex;
    justify-content: center;
    text-align: left;
}

